<div>
    <app-navbar></app-navbar>
</div>
<div class="card relative bg-slate-200 h-[900px]">
    <img src="/hero.jpg" class="absolute h-full w-full" />
    <img src="/UTASRlogo_B_NBkgnd.png" class="absolute h-40 bottom-20 left-0"/>
</div>
<div class="card relative h-[400px]">
    <div class="absolute top-16 left-10 w-1/2">
        <h2 class="text-5xl">About us</h2>
        <p class="mt-3">
            An Autonomous RC racing initiative founded by computer science and engineering students aiming to develop intelligent interactive autonomy in scale RC cars. Using techniques in imitation learning, distillation, model based reinforcement learning to enable the race car to learn interpretable representations of the world, predict future trajectories and choose the best course of actions, acting intelligently against competitors and prevent unwanted events from happening.
        </p>
    </div>
</div>
<app-galleria></app-galleria>
<div class="card relative text-center h-[100px]">
    <h1 class="text-6xl mt-20">Club Roster Imgs</h1>
</div>
<div class="card relative text-center h-[100px] bg-slate-200">
    <h1 class="text-2xl pt-8">Sponsor Logos</h1>
</div>
<div class="card relative text-center h-[125px] bg-black">
    <div class="pt-2.5">
        <i class="pi pi-instagram text-white pr-2" style="font-size: 2rem"></i>
        <i class="pi pi-linkedin text-white" style="font-size: 2rem"></i>
    </div>
</div>
