<div>
    <app-navbar></app-navbar>
</div>
<div class="card relative bg-slate-200 h-[400px]">
    <img src="/UTASRlogo_B_NBkgnd.png" class="absolute h-20 bottom-0 right-0"/>
</div>
<div class="card relative h-[400px]">
    <div class="absolute top-16 left-10 w-1/2">
        <h2 class="text-5xl">Who we are</h2>
        <p class="mt-3">
            Lorem ipsum dolor sit amet, consectetur adipiscing elit. In sed rutrum dui. Pellentesque laoreet dictum erat eu lobortis. Integer tempus, mi sed aliquam bibendum, risus diam congue risus, ut iaculis sem felis quis eros. Pellentesque molestie pharetra risus, non tempus augue ultrices interdum. Mauris hendrerit erat turpis, nec eleifend risus sagittis at. In libero dui, mattis at velit dictum, malesuada vestibulum tortor. Mauris sed elementum leo. Donec vehicula, lacus quis efficitur mollis, orci felis maximus dui, id interdum urna turpis et velit. Quisque quis lectus luctus, dapibus massa vel, maximus sapien. Quisque sagittis eros quis nunc rutrum aliquet. Ut sodales ligula nec tincidunt commodo. Nam ac egestas nunc, eu malesuada erat.
        </p>
    </div>
</div>
<app-galleria></app-galleria>
<div class="card relative text-center h-[100px]">
    <h1 class="text-6xl mt-20">Club Roster Imgs</h1>
</div>
<div class="card relative text-center h-[100px] bg-slate-200">
    <h1 class="text-2xl pt-8">Sponsor Logos</h1>
</div>
<div class="card relative text-center h-[125px] bg-black">
    <div class="pt-2.5">
        <i class="pi pi-instagram text-white pr-2" style="font-size: 2rem"></i>
        <i class="pi pi-linkedin text-white" style="font-size: 2rem"></i>
    </div>
</div>
