<div>
    <app-navbar></app-navbar>
</div>
<div class="w-full h-screen relative" style="background-image: url('/hero.jpg'); background-position: 50% 60%; background-size: cover; background-repeat: no-repeat;">
    <img src="/UTASRlogo_B_NBkgnd.png" class="absolute h-40 bottom-20 right-0"/>
</div>


<!-- Container for the textbox and image side by side -->
<div class="flex flex-col md:flex-row justify-top items-center space-y-4 md:space-y-0 md:space-x-4 h-[800px] mt-10 p4">
    <!-- Text box -->
    <div class="w-full md:w-1/2 p-4">
        <div class="card relative h-[400px]">
            <div class="absolute top-16 left-10 w-full p-2">
                <h2 class="text-5xl">About us</h2>
                <p class="mt-3">
                    An Autonomous RC racing initiative founded by computer science and engineering students aiming to develop intelligent interactive autonomy in scale RC cars. Using techniques in imitation learning, distillation, model-based reinforcement learning to enable the race car to learn interpretable representations of the world, predict future trajectories, and choose the best course of action, acting intelligently against competitors and preventing unwanted events.
                </p>
            </div>
        </div>
    </div>

    <!-- Image -->
    <div class="w-full md:w-1/2 p-6">
        <img src="/UTASRlogo_B_NBkgnd.png" alt="Logo - UTASR" class="w-full h-auto" />
    </div>
</div>

<app-galleria></app-galleria>

<img src="/skule-logo.png" alt="Skule -logo" class="display: block; margin: 0 auto; height: 2%; width: auto;" />


<footer class="bg-gray-800 text-white py-10 relative">
    <div class="border-t border-gray-600 absolute top-0 left-0 w-full"></div>

    <div class="container mx-auto flex justify-between items-center">
        <div class="flex flex-col space-y-2">
            <div class="flex space-x-4">
                <i class="pi pi-instagram" style="font-size: 2rem"></i>
                <i class="pi pi-linkedin" style="font-size: 2rem"></i>
            </div>

            <!-- Copyright Text -->
            <p class="text-sm">&copy; 2024 UTASR. All rights reserved.</p>
        </div>

        <div class="flex-shrink-0">
            <img src="/UTASRlogo.png" alt="Logo" class="h-16 w-auto">
        </div>
    </div>
</footer>

